.env

productenvfile.sh
sfp_venv
sfp/__pycache__
data/__pycache__
data/migrations/__pycache__
data/sfp_venv

*.env
*.csv
*.pdf
*.pyc
*.ics
*/*/*/__pycache__/
*.docx
report.py
Picture1.png


*/*/__pycache__/

*/__pycache__/