{% load i18n %}

{% block subject %}
{% blocktrans %}SFP ROA by KCS - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% comment %} {% block text_body %}
{% trans "Your password has been changed!" %}

{% comment %} {% trans "Thanks for using our site!" %} 

{% blocktrans %}The SFP team{% endblocktrans %}
{% endblock text_body %} {% endcomment %}

{% block html_body %}
<div style='background-color:#d4d3dc;padding:20px; color:white'>
    <div style='max-width:600px;margin:0 auto'>
        <div style='background-color:#254C5A;font:14px sans-serif;color:#007697;border-top:4px solid #00788A;margin-bottom:20px;border-bottom: 4px solid #00788A;'>
            <div style='padding:20px 30px;color:#fff'>
                <h1>SFP ROA</h1>
                <div style='font-size:16px;line-height:1.5em;border-bottom:1px solid #f2f3f5;padding-bottom:10px;margin-bottom:20px'>
                    <p><a style='text-decoration:none;color:#fff'>Welcome <strong>{{user.name}}</strong>,</a></p>
                    <p><a href='https://4rizon.com/reset_password'>Your password has been changed!</a></p>
                    <p><a style='text-decoration:none;color:#000'><strong>Note:</strong> Contact us <strong><a href='https://kaspar-consultings.com' target='_blank'>Here</a></strong> immediately if you did not make this request.</a></p>
                </div>
            </div>
        </div>
        <div style='font:11px sans-serif;color:#3e3e3e'>
            Delivered by www.kaspar-consultings.com - All Rights Reserved.
        </div>
    </div>
</div>
{% endblock html_body %}