{% load intlib %}
<b class="header">INVESTMENT & SAVINGS</b>
<div style='font-family:  Arial, sans-serif;font-size: 14px;;  '>
    <b style='font-size: 18px'>SECTION B:</b>
    <br/>
    <b class="background" style="">
        Analysis of Business’s Circumstances
    </b>
    <div class="row div">                 
        <div class='row div'>
            <div class="column12">
                <span>The analysis of your personal circumstances as described above</span>
            </div>                                  
        </div>
        <br/>
        <div class='row div'>
            <div class="column6">
                <b>Investment requirements</b>
            </div>                                  
            <div class="column5">
                <b>Need</b>
            </div>                                  
        </div>
        <div class='row div'>
            <div class="column6">
                <span>Investment term</span>
            </div>                                  
            <div class="column5">
                <span>{{BA_Investment.AI_Term}} Years</span>
            </div>   
            {% if BA_Investment.AI_TermDetails %}
                <br/>                            
                <br/>                            
                <div class="column12">
                    <span>{{BA_Investment.AI_TermDetails|linebreaks}}</span>
                </div>                                  
                <hr/>
            {% endif %}   
        </div>
        <div class='row div'>
            <div class="column6">
                <span>Lump sum or recurring premium.</span>
            </div>
            <div class="column5">                        
                <div class='row div'>
                    <div class="column4">
                        {% if BA_Investment.AI_PremiumType == 1 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label >
                            Lump Sum
                        </label>
                    </div>
                    <div class="column4">
                        {% if BA_Investment.AI_PremiumType == 0 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label>
                            Recurring
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        {% if BA_Investment.AI_PremiumTypeDetails %}
            <div class="">
                {{ BA_Investment.AI_PremiumTypeDetails|linebreaks }}
            </div>                                
            <hr/>
        {% endif %}
        <div class='row div'>
            <div class="column6">
                <span>Investment Strategy</span>
            </div>
            <div class="column5">                        
                <span>{{BA_Investment.AI_Strategy|linebreaks}}</span>
            </div>  
        </div>
        <hr/> 
        {% if BA_Investment.AI_StrategyDetails %}
            <div class="column12">
                {{ BA_Investment.AI_StrategyDetails }}
            </div>                                
            <hr/>
        {% endif %}    
        <div class='row div'>
            <div class="column6">
                <span>Return Required</span>
            </div>
            <div class="column5">                        
                <span>{{BA_Investment.AI_ReturnRequired}}</span>
            </div>   
            <br/>
        </div>
        <hr/>  
        {% if BA_Investment.AI_ReturnRequiredDetails %}
            <div class="column12">
                {{ BA_Investment.AI_ReturnRequiredDetails|linebreaks }}
            </div>                                
            <hr/>
        {% endif %}   
        <div class='row div'>
            <div class="column6">
                <span>Risk Profile</span>
            </div>
            <div class="column5">                        
                <span>{{BA_Investment.AI_RiskProfile}}</span>
            </div>   
            <br/>
        </div>
        <hr/> 
        {% if BA_Investment.AI_RiskProfileDetails %}
            <div class="column12">
                {{ BA_Investment.AI_RiskProfileDetails|linebreaks }}
            </div>                                
            <hr/>
        {% endif %}    
                    
        <div class='row div'>
            <div class="column12">
                <span>Funding of future expenses and/or deferred gratuities</span>
            </div>                                  
        </div>
        <div class='row1 div'>
            <div class="column31">
                <b>Financial Planning Need/Objective</b>
            </div>
            <div class="column31">
                <b>Total need identified</b>
            </div>
            <div class="column31">
                <b>Existing provisions</b>
            </div>
            <div class="column31">
                <b>Shortfall/ Surplus</b>
            </div>
            <div class="column31">
                <b>Cover taken up now</b>
            </div>
                                
        </div>
        <hr/>

        <div class='row1 div'>
            <div class="column31">
                <b>Payment of trade restraint agreements</b>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_TRP_TotalNeed}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_TRP_ExistingProvisions}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_TRP_ExistingShortfallSurplus}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_TRP_ExistingInvestments}}</span>
            </div>                                    
        </div>
        <hr/>
        <div class='row1 div'>
            <div class="column31">
                <b>Replacement of assets</b>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_RA_TotalNeed}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_RA_ExistingProvisions}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_RA_ExistingShortfallSurplus}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_RA_ExistingInvestments}}</span>
            </div>                                    
        </div>
        <hr/>
        <div class='row1 div'>
            <div class="column31">
                <b>Compulsory refurbishing of franchises</b>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_CR_TotalNeed}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_CR_ExistingProvisions}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_CR_ExistingShortfallSurplus}}</span>
            </div>
            <div class="column32">
                <span>R {{BA_Investment.AI_CR_ExistingInvestments}}</span>
            </div>                                    
        </div>
        <hr/>
        {% if BA_Investment.AI_Other %}
            <div class='row1 div'>
                <div class="column31">
                    <b>Other: {{BA_Investment.AI_Other}}</b>
                </div>
                <div class="column32">
                    <span>R {{BA_Investment.AI_Other_TotalNeed}}</span>
                </div>
                <div class="column32">
                    <span>R {{BA_Investment.AI_Other_ExistingProvisions}}</span>
                </div>
                <div class="column32">
                    <span>R {{BA_Investment.AI_Other_ExistingShortfallSurplus}}</span>
                </div>
                <div class="column32">
                    <span>R {{BA_Investment.AI_Other_ExistingInvestments}}</span>
                </div>                                    
            </div>
        {% endif %}
        <hr/>            
        <b style='font-size: 18px'>SECTION C:</b>
        <div>
            <b class="background" style="">
                Financial Solutions:
            </b>
        </div>   
        <div class="column12">
            <span>Summary of recommendations to address the business’s needs identified</span>
            <br/>
            <span>{{BA_Investment.AI_FinancialSolutions|linebreaks}}</span>
            
        </div>   
        {% if BA_Investment.AI_AltS_1 or BA_Investment.AI_AltS_2 or BA_Investment.AI_AltS_3 %}
            <b style='font-size: 18px'>SECTION D:</b>
            <div>
                <b class="background" style="">
                    Alternative Solutions Considered
                </b>
            </div>    
            <div class='row div'>
                <div class="column12">
                    <p>The following solutions were presented to you for consideration but were not selected for the following reasons:</p>
                    {% if BA_Investment.AI_AltS_1 %}
                        <hr/>
                        <p>{{BA_Investment.AI_AltS_1|linebreaks}}</p>
                    {% endif %}
                    {% if BA_Investment.AI_AltS_2 %}
                        <hr/>
                        <p>{{BA_Investment.AI_AltS_2|linebreaks}}</p>
                    {% endif %}
                    {% if BA_Investment.AI_AltS_3 %}
                        <hr/>
                        <p>{{BA_Investment.AI_AltS_3|linebreaks}}</p>
                    {% endif %}
                </div>                                    
            </div>     
        {% endif %}
        <hr/>
        <b style='font-size: 18px'>SECTION E:</b>
        <div>
            <b class="background" style="">
                Product Taken (Each additional need must be accompanied by its own product annexure.)
            </b>
        </div>    
        <div class='row div'>
            <div class="column12">
                <p>Products accepted by you to meet your requirements to meet the business’s requirements</p>                    
            </div>                                
        </div>     
        <div class='row div'>
            <div class="column2">
                <b>Product Taken:</b>
            </div>
            <div class="column2">                        
                {% if BA_Investment.AI_Pr_Taken %}
                    <span>{{BA_Investment.AI_Pr_Taken}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
        </div>
        <div class='row div'>
            <div class="column2">
                <b>Product Provider:</b>
            </div>
            <div class="column2">                        
                {% if BA_Investment.AI_Pr_Provider %}
                    <span>{{BA_Investment.AI_Pr_Provider}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
            <div class="column2">
                <b>Policy Number:</b>
            </div>
            <div class="column2">                        
                {% if BA_Investment.AI_Pr_Number %}
                    <span>{{BA_Investment.AI_Pr_Number}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
        </div>   
        <hr/>  
        <div class='row div'>
            <div class="column2">
                <b>Product Name:</b>
            </div>
            <div class="column2">                        
                {% if BA_Investment.AI_Pr_Name %}
                    <span>{{BA_Investment.AI_Pr_Name}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
            <div class="column2">
                <b>Frequency:</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_Premium %}
                    <span>{{BA_Investment.AI_Pr_Premium}}</span>  
                {% else %}
                    <span class="white">0</span>
                {% endif %}
                {% if BA_Investment.AI_Pr_PremiumFrequency %}
                    <span>{{BA_Investment.AI_Pr_PremiumFrequency}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
        </div> 
        <hr/>    
        <div class='row div'>
            <div class="column2">
                <b>Premium Pattern:</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_Pattern %}
                    <span>{{BA_Investment.AI_Pr_Pattern}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
            <div class="column2">
                <b>Escalation in cover/premium:</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_Escalation %}
                    <span>{{BA_Investment.AI_Pr_Escalation}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
        </div>  
        <hr/>   
        <div class='row div'>
            <div class="column2">
                <b>Contracting Party:</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_ContractingParty %}
                    <span>{{BA_Investment.AI_Pr_ContractingParty}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
            <div class="column2">
                <b>Life/Lives covered:</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_LivesAssured %}
                    <span>{{BA_Investment.AI_Pr_LivesAssured}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
        </div>     
        <hr/>
        <div class='row div'>
            <div class="column2">
                <b>Beneficial/Cessionary:</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_Beneficiary %}
                    <span>{{BA_Investment.AI_Pr_Beneficiary}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
            <div class="column2">
                <b>Premium payer(s):</b>
            </div>
            <div class="column2">        
                {% if BA_Investment.AI_Pr_PremiumPayer %}
                    <span>{{BA_Investment.AI_Pr_PremiumPayer}}</span>
                {% else %}
                    <span class="white">0</span>
                {% endif %}
            </div> 
        </div>    
        <hr/> 
        <div class='row div'>
            <div class="column2">
                <b>Intial commission:</b>
            </div>
            <div class="column2">        
                <span>R {{BA_Investment.AI_Pr_IniC}} ({{BA_Investment.AI_Pr_IniC_Percentage}}%)</span>
            </div> 
            <div class="column2">
                <b>Ongoing commission:</b>
            </div>
            <div class="column2">        
                <span>R {{BA_Investment.AI_Pr_OnC}} ({{BA_Investment.AI_Pr_OnC_Percentage}}%)</span>
            </div> 
        </div>    
        <hr/>  
        <b class="background" style="">
            <p>Investment Portfolio</p>                          
        </b>
        <div class='row div'>
            <div class="column12">
                <span>{{BA_Investment.AI_Portfolio|linebreaks}}</span>
            </div>
        </div>
        <hr/>
        <div class='row div'>
            <div class="column2">
                <b style="color: white">0</b>
            </div>                                 
            <div class="column2">
                <b style="color: white">0</b>
            </div>                                  
            <div class="column5">
                <span>Fund Fact Sheets to client</span>
            </div>                                 
        </div>
        <hr/>
        <div class='row div'>
            <div class="column2">
                <span>Funds</span>
            </div>                                 
            <div class="column2">
                <span>%</span>
            </div>                                 
            <div class="column2">
                <span>Provided</span>
            </div>                                 
            <div class="column2">
                <span>Discussed</span>
            </div>                                 
        </div>
        <hr/>
        {% if BA_Investment.AI_PF_1 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_1}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage1}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided1 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided1 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed1 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed1 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_2 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_2}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage2}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided2 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided2 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed2 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed2 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_3 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_3}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage3}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided3 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided3 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed3 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed3 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_4 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_4}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage4}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided4 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided4 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed4 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed4 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_5 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_5}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage5}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided5 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided5 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed5 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed5 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_6 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_6}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage6}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided6 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided6 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed6 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed6 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_7 %}
            <div class='row div'>
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_7}}</span>
                </div>                                 
                <div class="column2">
                    <span>{{BA_Investment.AI_PF_Percentage7}}</span>
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Provided7 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Provided7 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
                <div class="column2">
                    {% if BA_Investment.AI_PF_Discussed7 == 1 %}
                        <div class="column4">
                            <input checked type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                Yes
                            </label>
                        </div>
                    {% elif BA_Investment.AI_PF_Discussed7 == 0 %}
                        <div class="column4">
                            <input type="checkbox" />
                        </div>
                        <div class="column2">
                            <label >
                                No
                            </label>
                        </div>
                    {% endif %}
                </div>                                 
            </div>
            <hr/>
        {% endif %}
        <b class="background" style="">
            <p>Source of Funds</p>                          
        </b>
        <div class="row div">
            <div class="column6">
                <span>Identify the source of funds being invested</span>
            </div>
            <div class="column5">
                {{BA_Investment.AI_SourceOfFunds|linebreaks}}
            </div>
        </div>
        <hr/>
        {% if BA_Investment.AI_SourceOfFundsDetail %}
            <div class="row div">
                <div class="column12">
                    {{BA_Investment.AI_SourceOfFundsDetail|linebreaks}}
                </div>
            </div>
        {% endif %}
        <hr/>
        <div class="">
            <div class="">
                <span>The following are reasons why the abovementioned product best suits the business’s needs and objectives:</span>
            </div>
            {% if BA_Investment.AI_PF_Reasons %}
                <div class="">
                    {{BA_Investment.AI_PF_Reasons|linebreaks}}
                </div>
            {% endif %}
        </div>
        <hr/>
        <div class="">
            <div class="">
                <span>The details of the material aspects of the selected product that were discussed with you are outlined below:</span>
            </div>
        </div>
        {% if BA_Investment.AI_Pr_Taken|to_int == 1 %}
                <p>
                    <b>Tax Implications:</b><br/>
                    There are significant tax benefits afforded to Endowment plan investors. With an endowment plan the life insurance company will pay tax on your behalf at a rate of 30%. At maturity date the proceeds of this investment will be tax free.
                </p>

                <p>
                    <b>Liquidity:</b><br/> 
                    In the first five years of this investment your access to your funds are restricted. During this period access is limited to one partial withdrawal or a full surrender or a loan subject to penalties.
                </p>

                <p>
                    <b>Termination Penalties:</b>
                    The will be termination penalties levied in the event of early access to funds during the restriction period of the first 5 years of the investment.
                    The following events will be deemed as trigger events, where applicable:
                    <ul>
                        <li>Stopping contributions</li>
                        <li>Reducing contributions</li>
                        <li>Partial withdrawal</li>
                        <li>Loan</li>
                        <li>Full surrender</li>
                    </ul>
                    As discussed please refer to the sliding scale in the policy documents illustrating the penalties to be levied at a given period.
                </p>

                <p>
                    <b>Gurantees:</b><br/>
                    The product does not offer any guarantees. Invested funds will be subject to market fluctuations and may be exposed to capital losses 
                </p>

                <p>
                    <b>Legislative Restrictions:</b><br/>
                    In the event of a withdrawal there may be restrictions on the maximum amount allowed as a withdrawal, any excess amount above the 
                    allowed limit will have to remain invested until the end of the restricted period.
                    In the event of any increase in contributions in which an increase of more than 20% of the preceeding two years premiums occurs a new restriction period of 5 years will apply

                </p>

                <p>
                    <b>Implication of Fees:</b><br/> 
                    Please note there will be fees levied on the investment, these fees will result in the reduction of the returns generated by the investment and in the event of low growth may also have a negative impact on the fund value. We have also discussed the EAC which is an illustration of the maximum total cost that may be levied on your investment.
                </p>

                <p>
                    <b>At death-Endownment:</b><br/>
                    The proceeds will pay-out to your nominated beneficiary and will attract estate duty at a maximum of 25%. Should the beneficiary be your estate executors fees will be applicable. 
                </p>

                <p>
                    <b>At death-sinking fund</b><br/>
                    The policy will be enforced with the new owner as stipulated.
                </p>
            {% endif %}
            {% if BA_Investment.AI_Pr_Taken|to_int == 2 %}
                
                
                    <p><b>Tax Implications:</b><br/>
                    There are significant tax benefits afforded to RA investors. You are permitted to deduct up to 27.5% of your annual taxable incomes (subject to  R350 000 per year maximum). Contributions in excess of this amount may deducted in the following tax year or at retirement. In addition to this, no income tax or capital gain tax is charged on the investment returns within an RA. Also, the funds housed in your RA do not form part of your estate, which means that this money will not be subject to executors fees or estate duty (except the excess contributions made). At retirement, you will be permitted to withdraw up to 1/3 of the value of the retirement annuity(s) of which the first R500 000 of the total withdrawal is tax-free subject to there being no previous withdrawals from any retirement fund.</p>
                    
                    <p><b>Liquidity:</b><br/>
                    You will only be able to access the funds from age 55 onwards, subject to formal emigration from South Africa after a period of 3 years or at early retirement due to permanent disability.</p>

                    <p><b>Termination Penalties:</b><br/>
                    Planner disclose as per the product</p>
                    
                    <p><b>Gurantees:</b><br/>
                    The product does not offer any guarantees. Invested funds will be subject to market fluctuations and may be exposed to capital losses.</p>

                    <p><b>Legislative Restrictions:</b><br/>
                    At retirement you have the option to withdraw 1/3 of the investment in cash. The remaining two-thirds must be used to purchase a pension income to sustain you during retirement. Alternatively you may choose to purchase an income with the full amount. Retirement annuity withdrawals are taxed according to the retirement lumpsum tax tables</p>

                    <p><b>Implication of Fees:</b><br/>
                    Please note there will be fees levied on the investment, these fees will result in the reduction of the returns generated by the investment and in the event of low growth may also have a negative impact on the fund value. We have also discussed the EAC which is an illustration of the maximum total cost that may be levied on your investment.</p>

                    <p><b>Commutation at Retirement:</b><br/>
                    You are allowed to commute the entire fund value provided the minimum fund value of R247 500 is met. This rule is applied per retirement fund and not per client. </p>

                    <p><b>At death</b><br/>
                    You may nominate beneficiaries. However, the trustees of the fund will make the final decision in terms of equitable distribution of the funds. The trustees will take your wishes into account but are not bound by them.</p>
                
            {% endif %}
            {% if BA_Investment.AI_Pr_Taken|to_int == 3 %}
                
                <p>
                    <b>Tax Implications:</b><br/>
                    The investment will not attract any tax  if contributions are kept within the annual limits which are R36 000 p.a and R500 000 life time. Any excess contributions will be taxed at 40%. 
                </p>

                <p>
                    <b>Liquidity:</b><br/>
                    Planner disclose 
                </p>

                <p>
                    <b>Termination Penalties:</b><br/>
                    Planner to disclosed
                </p>

                <p>
                    <b>Gurantees:</b><br/>
                    The product does not offer any guarantees. Invested funds will be subject to market fluctuations and may be exposed to capital losses.
                </p>

                <p>
                    <b>Implication of Fees:</b><br/> 
                    Please note there will be fees levied on the investment, these fees will result in the reduction of the returns generated by the investment and in the event of low growth may also have a negative impact on the fund value. We have also discussed the EAC which is an illustration of the maximum total cost that may be levied on your investment.
                </p>

                <p>
                    <b>Legislative Restrictions:</b><br/> 
                    There are limits to the annual and life time contributions on this investment. You may have multiple tax free savings accounts but the annual and lifetime limits limits are applied per individual and not per investment.In the event that you make a withdrawal any subsequent replacement of funds above the limit will attract tax at 40%.
                </p>

                <p>
                    <b>Death Benefit</b><br/>
                    Planner to disclose
                </p>
            {% endif %}
            {% if BA_Investment.AI_Pr_Taken|to_int == 4 %}
            
                            <p>
                                <b>Tax Implications:</b><br/>
                                Your investment will be taxed in accordance with your marginal tax rate. This investment will attract capital gains tax when you change funds or when funds are withdrawn.
                            </p>
            
                            <p>
                                <b>Liquidity:</b><br/>
                                You are allowed to make regular withdrawals.
                            </p>
            
                            <p>
                                <b>Termination Penalties:</b><br/> 
                                No termination penalties 
                            </p>
            
                            <p>
                                <b>Gurantees:</b><br/>
                                The product does not offer any guarantees. Invested funds will be subject to market fluctuations and may be exposed to capital losses.
                            </p>
                            
                            <p>
                                <b>Implication of Fees:</b><br/> 
                                Please note there will be fees levied on the investment, these fees will result in the reduction of the returns generated by the investment and in the event of low growth may also have a negative impact on the fund value. We have also discussed the EAC which is an illustration of the maximum total cost that may be levied on your investment.
                            </p>
            
                            <p>
                                <b>Legislative Restrictions:</b><br/>
                                The are no legislative restrictions on this investment 
                            </p>
            
                            <p>
                                <b>At Death</b><br/>
                                You cannot appoint a beneficiary. In the event of death this benefit will pay into the your Estate. The investment will be an asset in your estate and will attract estate duty and executors’ fees. The investment will be distributed in accordance with your instructions in the will.
                            </p>
            {% endif %}
            {% if BA_Investment.AI_Pr_Taken|to_int == 5 %}
                <p>
                    <b>Tax Implications:</b><br/>
                    The income drawn form this investmenet will be taxed at your marginal tax rate taking into consideration your gross income form all your income streams. Due to this you may pay a higher tax than illustrated when looking at this investment individually.
                </p>

                <p>
                    <b>Termination Penalties:</b><br/> 
                    This investment cannot be terminated
                </p>

                <p>
                    <b>Gurantees:</b><br/>
                    The income amount paid out by this investment is guaranteed for life, if you have selecetd an escalation for your income the income will increase by the selected escalation annually. Selecting an escalation on your income will result I the initial income amount being substantially lower than if the level income option is selected.
                </p>

                <p>
                    <b>Implication of Fees:</b><br/>  
                    The fees levied on this investment are priced into the product
                </p>

                <p>
                    <b>Legislative Restrictions:</b><br/> 
                    The decision to invest in this product cannot be reversed, the income amount cannot be altered you will only receive annual increases if you have selected the escalation option
                </p>

                <p>
                    <b>At Death</b><br/>
                    Single Life: If you have selecetd the single life option the income paid out on this investment will cease in the event of your death, the product does not have a death benefit this means no funds will be paid out.<br/><br/>
                    Joint Life : If you have selected the joint life option it means you have elecetd to have two life assured on the product. In the event of the 1st life assureds death the income will continue paying out to the second life assured, the income paid out to the second life assured maybe reduced subject to the option you have selected. At the death of the second life assured income will cease and no death benefit will be paid out.<br/><br/>
                    Guarantee Period : In the event that you have seleceted a guarantee period this means that in the event of your death or the death of both life assured in the case of a joint life within the guarantee period the income on this investment will continue to pay to your nominated beneficiary until the end of the guarantee period.

                </p>

                <p>
                    Please not if death is to occur after the guarantee period no income will be paid to your nominated beneficiary.
                </p>
            {% endif %}
            {% if BA_Investment.AI_Pr_Taken|to_int == 6 %}
                <p>
                    <b>Tax Implications:</b><br/>
                    The growth on this investment will not attract any tax, but the income drawn will be taxed at your marginal tax rate taking into consideration all gross income generated form all available income streams. Due to this you may pay a higher tax than illustrated when looking at this investment individually.
                </p>

                <p>
                    <b>Liquidity:</b><br/> 
                    This investment does not allow you to access the invested capital not even in the event of termination 
                </p>

                <p>
                    <b>Termination Penalties:</b><br/>
                    In the event that you terminate this investment any applicable termination fees will be disclosed in the termination quotation 
                </p>

                <p>
                    <b>Gurantees:</b><br/>
                    The product does not offer any guarantees, invested funds will be subject to markert fluctuations and pontential capital losses
                </p>

                <p>
                    <b>Implication of Fees:</b><br/> 
                    Please note there will be fees levied on the invetsment, these fees will result in the reduction of returns generated by the investment and in the event of low growth may alos have a negative impact on the fund value. We have also discussed the EAC which is an illustration  the maximum tatal cost that may be levied on the investment. It also important to not that as a general rule and for longegivity the icnome withdrwaa rate should be kept lower than the invetsment return rate. I have also made you aware of inflation that is the risk that the buying power of your funds over time may be depleted and eroded . 
                </p>

                <p>
                    <b>Legislative Restrictions:</b><br/>
                    There are limits imposed on the income witdrawal rate, currntly as legislation stands you are allowed a minimum of 2.5% and a maximum of 17.5%. The income withdrawal rate can be changed once a year depending on your income objectives at the time. It should be noted that changes in income rates should be considered in consideration to expected investment returns and adjustments and realingment consindered accordingly.  
                </p>

                <p>
                    In the event that this invetsment is terminated you will not have access to the inevsted capital but will be required to transffer the fund value to an alternative annuity vehicle, life or living annuity.
                </p>

                <p>
                    <b>At Death</b><br/>
                    In the event of death the investment will pay-out directly to your nominated beneficiary and will not form part of your estate or attract any estate taxes. The beneficiary will be presented with the option to transfer the funds into a new annuity in their name or alternatively take the funds in cash which will attract taxes.The beneficiary also has an option the select the alternatives as a combination.  
                </p>
            {% endif %}


           
        {% if BA_Investment.AI_PF_MaterialAspects %}
            <div class="">
                {{BA_Investment.AI_PF_MaterialAspects|linebreaks}}
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_Pr_Details %}
            <div class="">
                <div class="">
                    {{BA_Investment.AI_PF_Pr_Details|linebreaks}}
                </div>
            </div>
            <hr/>
        {% endif %}
        {% if BA_Investment.AI_PF_NominationOfBeneficiaries %}
            <div class="">
                <div class="">
                    {{BA_Investment.AI_PF_NominationOfBeneficiaries|linebreaks}}
                </div>
            </div>
            <hr/>
        {% endif %}
    </div>
</div>