
<b class="header">GAP COVER</b>
<hr/>
<div style='font-family:  "Arial Narrow", Arial, sans-serif, sans-serif;font-size: 14px;;'>
    <div class='row div'>
        <div class="column2">
            <b>Client Name:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientName %}{{GP.GP_ClientName}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
        <div class="column2">
            <b>ID number:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientIdNumber %}{{GP.GP_ClientIdNumber}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
    </div>
    <hr/>
    
    <div class='row div'>
        <div class="column2">
            <b>Address</b>
        </div>
        <div class="column5">                        
            <span>
                {% if GP.GP_ClientAddress %}{{GP.GP_ClientAddress}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                                        
    </div>
    <hr />
    
    <div class='row div'>
        <div class="column2">
            <b>Email:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientEmail %}{{GP.GP_ClientEmail}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
        <div class="column2">
            <b>Phone:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientPhoneNumber %}{{GP.GP_ClientPhoneNumber}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
    </div>
    <hr/>            
    <div class='row div'>
        <div class="column2">
            <b>Medical Aid:</b>
        </div>
        <div class="column2">  
            {% if GP.GP_ClientMedicalAidName %}
                <span>
                    {{GP.GP_ClientMedicalAidName}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}     
        </div>                     
        <div class="column2">
            <b>Inception Date:</b>
        </div>
        <div class="column2">    
            {% if GP.GP_ClientInceptionDate %}
                <span>
                    {{GP.GP_ClientInceptionDate}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}   
        </div>                     
    </div>
    <hr/>
    <div class='row div'>
        <div class="column2">
            <b>Financial Advisor:</b>
        </div>
        <div class="column2">        
            {% if GP.GP_FinancialAdvisor %}
                <span>
                    {{GP.GP_FinancialAdvisor}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}
        </div>                     
        <div class="column2">
            <b>Date:</b>
        </div>
        <div class="column2">                        
            {% if GP.GP_Date %}
                <span>
                    {{GP.GP_Date}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}
        </div>                     
    </div>
    <hr/>
    <div class='row div'>
        <div class="column12">
            <span>
                In terms of the Financial Advisory and Intermediary Services Act (FAIS Act), we must provide you (the client) with a record of advice. 
                This document is a summary that intends to confirm the advisory process you recently undertook with your advisor. 
                If you have any questions concerning the content, please contact your advisor. 
                You are entitled to a copy of this document for your records. 
                You consent to Succession Financial Planning (SFP) processing your personal information per the Protection of Personal Information Act (POPIA). 
                You have given consent to SFP retaining your personal information to recommend the best-suited financial solutions for your financial needs and maintenance. 
                You consent to be contacted from time to time for maintenance, news, correspondence, and storage of your personal information relating to your financial matters. Ts&Cs on <a href='https://www.sfpadvice.co.za' target='_blank'>https://www.sfpadvice.co.za</a>
            </span>            
        </div>
                            
    </div>

    
</div>