
<b class="header">GAP COVER</b>
<hr/>
<div style='font-family:  "Arial Narrow", Arial, sans-serif, sans-serif;font-size: 14px;;'>
    <div class='row div'>
        <div class="column2">
            <b>Client Name:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientName %}{{GP.GP_ClientName}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
        <div class="column2">
            <b>ID number:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientIdNumber %}{{GP.GP_ClientIdNumber}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
    </div>
    <hr/>
    
    <div class='row div'>
        <div class="column2">
            <b>Address</b>
        </div>
        <div class="column5">                        
            <span>
                {% if GP.GP_ClientAddress %}{{GP.GP_ClientAddress}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                                        
    </div>
    <hr />
    
    <div class='row div'>
        <div class="column2">
            <b>Email:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientEmail %}{{GP.GP_ClientEmail}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
        <div class="column2">
            <b>Phone:</b>
        </div>
        <div class="column2">                        
            <span>
                {% if GP.GP_ClientPhoneNumber %}{{GP.GP_ClientPhoneNumber}}{% else %}<span class="white">0</span>{% endif %}
            </span>
        </div>                     
    </div>
    <hr/>            
    <div class='row div'>
        <div class="column2">
            <b>Medical Aid:</b>
        </div>
        <div class="column2">  
            {% if GP.GP_ClientMedicalAidName %}
                <span>
                    {{GP.GP_ClientMedicalAidName}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}     
        </div>                     
        <div class="column2">
            <b>Inception Date:</b>
        </div>
        <div class="column2">    
            {% if GP.GP_ClientInceptionDate %}
                <span>
                    {{GP.GP_ClientInceptionDate}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}   
        </div>                     
    </div>
    <hr/>
    <div class='row div'>
        <div class="column2">
            <b>Financial Advisor:</b>
        </div>
        <div class="column2">        
            {% if GP.GP_FinancialAdvisor %}
                <span>
                    {{GP.GP_FinancialAdvisor}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}
        </div>                     
        <div class="column2">
            <b>Date:</b>
        </div>
        <div class="column2">                        
            {% if GP.GP_Date %}
                <span>
                    {{GP.GP_Date}}
                </span>
            {% else %}                    
                <span>
                    <span class="white">0</span>
                </span>
            {% endif %}
        </div>                     
    </div>
    <hr/>
    <div class='row div'>
        <div class="column12">
            <span>
                In terms of the Financial Advisory and Intermediary Services Act (FAIS Act), we must provide you (the client) with a record of advice. 
                This document is a summary that intends to confirm the advisory process you recently undertook with your advisor. 
                If you have any questions concerning the content, please contact your advisor. 
                You are entitled to a copy of this document for your records. 
                You consent to Succession Financial Planning (SFP) processing your personal information per the Protection of Personal Information Act (POPIA). 
                You have given consent to SFP retaining your personal information to recommend the best-suited financial solutions for your financial needs and maintenance. 
                You consent to be contacted from time to time for maintenance, news, correspondence, and storage of your personal information relating to your financial matters. Ts&Cs on <a href='https://www.sfpadvice.co.za' target='_blank'>https://www.sfpadvice.co.za</a>
            </span>
        </div>                                    
        <hr/>
        <b style='font-size: 18px'>SECTION A:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>NEED</b>
        <br/>
        <b>Gap cover benefits are only available as an add-on to the members belonging to a registered medical aid.</b>
        <div class="row div">
            <div class="column6">
                <b>Details:</b>
            </div>
            <div class="column5">
                {% autoescape off %}
                    <span>{{GP.GP_Benefits}}</span>
                {% endautoescape %}
            </div>
        </div>
        <hr/>
        <b style='font-size: 18px'>SECTION B:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>DEPENDENTS COVERED</b>
        <br/>
        <b>Gap cover benefits are only available as an add-on to the members belonging to a registered medical aid.</b>
        <br/>
        <br/>
        <div class="row div">
            <div class="column6">
                <b>Details:</b>
            </div>
            <div class="column5">
                <div class='row div'>
                    <div class="column4">
                        {% if GP.GP_MedicalDependent == 1 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label >
                            Yes
                        </label>
                    </div>
                    <div class="column4">
                        {% if GP.GP_MedicalDependent == 0 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label>
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Member Name</b>
            </div>
            <div class="col3">
                <b>Relationship to main Member</b>
            </div>
            <div class="col3">
                <b>Medical Aid Plan</b>
            </div>
        </div>
        <hr/>
        {% if GP.GP_MemberName1 or GP_MemberAidPlan1 or GP_MemberRelationship1 %}
            <div class="row div">
                <div class="col3">
                    {% if GP.GP_MemberName1 %}
                        <span>{{ GP.GP_MemberName1 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberRelationship1 %}
                        <span>{{ GP.GP_MemberRelationship1 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberAidPlan1 %}
                        <span>{{ GP.GP_MemberAidPlan1 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
            </div>
            <hr/>
        {% endif %}
        {% if GP.GP_MemberName2 or GP_MemberAidPlan2 or GP_MemberRelationship2 %}
            <div class="row div">
                <div class="col3">
                    {% if GP.GP_MemberName2 %}
                        <span>{{ GP.GP_MemberName2 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberRelationship2 %}
                        <span>{{ GP.GP_MemberRelationship2 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberAidPlan2 %}
                        <span>{{ GP.GP_MemberAidPlan2 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
            </div>
            <hr/>
        {% endif %}
        {% if GP.GP_MemberName3 or GP_MemberAidPlan3 or GP_MemberRelationship3 %}
            <div class="row div">
                <div class="col3">
                    {% if GP.GP_MemberName3 %}
                        <span>{{ GP.GP_MemberName3 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberRelationship3 %}
                        <span>{{ GP.GP_MemberRelationship3 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberAidPlan3 %}
                        <span>{{ GP.GP_MemberAidPlan3 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
            </div>
            <hr/>
        {% endif %}
        {% if GP.GP_MemberName4 or GP_MemberAidPlan4 or GP_MemberRelationship4 %}
            <div class="row div">
                <div class="col3">
                    {% if GP.GP_MemberName4 %}
                        <span>{{ GP.GP_MemberName4 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberRelationship4 %}
                        <span>{{ GP.GP_MemberRelationship4 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
                <div class="col3">
                    {% if GP.GP_MemberAidPlan4 %}
                        <span>{{ GP.GP_MemberAidPlan4 }}</span>
                    {% else %}
                        <span><span class="white">0</span></span>
                    {% endif %}
                </div>
            </div>
            <hr/>
        {% endif %}
        <b style='font-size: 18px'>SECTION C:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>SOLUTION</b>
        <br/>
        <br/>
        <div class="row div">
            <div class="column6">
                <b>Provider:</b>
            </div>
            <div class="column5">
                <span>{{GP.GP_Provider}}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <b>Option:</b>
            </div>
            <div class="column5">
                <span>{{GP.GP_Option}}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <b>Motivation:</b>
            </div>
            <div class="column5">
                <span>{{GP.GP_Motivation}}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <b>Total Premium:</b>
            </div>
            <div class="column5">
                <span>{{GP.GP_TotalPremium}}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <b>Broker Fee:</b>
            </div>
            <div class="column5">
                <span>R {{GP.GP_BrokerFee}}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <b>Commission:</b>
            </div>
            <div class="column5">
                <span>R {{GP.GP_Commission}}</span>
            </div>
        </div>
        <hr/>
        <b style='font-size: 18px'>SECTION D:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>BENEFITS</b>
        <br/>
        <br/>
        <b>In the event of a replacement complete both current and new product</b>
        <br/>
        <br/>
        <div class="row div">
            <div class="col3">
                <b style="color: white;">Current Product</b>
            </div>
            <div class="col3">
                <b>Current Product</b>
            </div>
            <div class="col3">
                <b>New Product</b>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Gap Cover rate</b>
            </div>
            <div class="col3">
                {% if GP.GP_CP_Rate %}{{GP.GP_CP_Rate}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_Rate %}{{GP.GP_NP_Rate}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Overall annual limit</b>
            </div>
            <div class="col3">
                {% if GP.GP_CP_Overall %}{{GP.GP_CP_Overall}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_Overall %}{{GP.GP_NP_Overall}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Co-payment benefit</b>
            </div>
            <div class="col3">
                {% if GP.GP_CP_CoPayment_B %}{{GP.GP_CP_CoPayment_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_CoPayment_B %}{{GP.GP_NP_CoPayment_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Sub-limit benefit</b>
            </div>                    
            <div class="col3">
                {% if GP.GP_CP_SubLimit_B %}{{GP.GP_CP_SubLimit_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_SubLimit_B %}{{GP.GP_NP_SubLimit_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Cancer benefit</b>
            </div>                 
            <div class="col3">
                {% if GP.GP_CP_Cancer_B %}{{GP.GP_CP_Cancer_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_Cancer_B %}{{GP.GP_NP_Cancer_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Cancer diagnose benefit</b>
            </div>                                     
            <div class="col3">
                {% if GP.GP_CP_CancerD_B %}{{GP.GP_CP_CancerD_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_CancerD_B %}{{GP.GP_NP_CancerD_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Other benefit</b>
            </div>
            <div class="col3">
                {% if GP.GP_CP_OtherB %}{{GP.GP_CP_OtherB}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_OtherB %}{{GP.GP_NP_OtherB}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Casualty benefit(In case of accident)</b>
            </div>                 
            <div class="col3">
                {% if GP.GP_CP_CasualB %}{{GP.GP_CP_CasualB}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_CasualB %}{{GP.GP_NP_CasualB}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Trauma counselling benefit</b>
            </div>                 
            <div class="col3">
                {% if GP.GP_CP_TraumaB %}{{GP.GP_CP_TraumaB}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_TraumaB %}{{GP.GP_NP_TraumaB}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Gap Cover premium waiver benefit</b>
            </div>                                     
            <div class="col3">
                {% if GP.GP_CP_PreW_B %}{{GP.GP_CP_PreW_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_PreW_B %}{{GP.GP_NP_PreW_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Medical scheme waiver benefit</b>
            </div>                                    
            <div class="col3">
                {% if GP.GP_CP_Med_SW_B %}{{GP.GP_CP_Med_SW_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_Med_SW_B %}{{GP.GP_NP_Med_SW_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Accidental death cover benefit</b>
            </div>                                  
            <div class="col3">
                {% if GP.GP_CP_Accidental_DC_B %}{{GP.GP_CP_Accidental_DC_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
            <div class="col3">
                {% if GP.GP_NP_Accidental_DC_B %}{{GP.GP_NP_Accidental_DC_B}}{% else %}<span class="white">0</span>{% endif %}
            </div>
        </div>
        <hr/>
        <b style='font-size: 18px'>SECTION E:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>WAITING PERIODS</b>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>General Waiting period</b>
            </div>
            <div class="col3">
                <span>{{ GP.GP_CP_GenWait_P }}</span>
            </div>
            <div class="col3">
                <span>{{ GP.GP_NP_GenWait_P }}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Waiting period for pre-existing condition</b>
            </div>
            <div class="col3">
                <span>{{ GP.GP_CP_PreExist_P }}</span>
            </div>
            <div class="col3">
                <span>{{ GP.GP_NP_PreExist_P }}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>Specific waiting periods</b>
            </div>
            <div class="col3">
                <span>{{ GP.GP_CP_Specific_P }}</span>
            </div>
            <div class="col3">
                <span>{{ GP.GP_NP_Specific_P }}</span>
            </div>
        </div>
        <hr/>
        <b style='font-size: 18px'>SECTION F:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>EXCLUSIONS</b>
        <hr/>
        <div class="row div">
            <div class="column6">
                <b>Are claims whereby the medical aid requires a co-payment for not using a specific medical service provider excluded?</b>
            </div>
            <div class="column5">
                <div class='row div'>
                    <div class="column4">
                        {% if GP.GP_Exclusions == 1 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label >
                            Yes
                        </label>
                    </div>
                    <div class="column4">
                        {% if GP.GP_Exclusions == 0 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label>
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        
        <div class="row div">
            <div class="col3">
                <b>Other Exclusions</b>
            </div>
            <div class="col7">
                <span>
                    {% autoescape off %}
                        {{ GP.GP_Other_Exclusions }}</span>
                    {% endautoescape %}
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="col3">
                <b>General  Exclusions</b>
            </div>
            <div class="col7">
                <span>
                    {% autoescape off %}
                        {{ GP.GP_GeneralComments }}</span>
                    {% endautoescape %}
            </div>
        </div>
        <hr/>
        <div style="text-align: center;">
            <b>Notes</b>
        </div>
        <hr/>
        <div style="text-align: justify;">
            <span>
                You will always be responsible towards the provider of medical services. Gap cover often requires a subsequent claim process to be followed, once the medical aid company has made their payment. You are then required to submit a claim to the Gap cover provider for settlement of the remainder, up to the limit of the option selected.
            </span>
            <hr/>
            <span>
                Most Medical Aid companies have introduced co-payments and sub-limits for certain in hospital treatment and procedures. If you elect not to take this cover you will be responsible for these.
            </span>
            <hr/>
            <span>
                Please be aware that No benefits are payable which should be provided by the Medical Aid scheme (such as Prescribed Minimum Benefits), this exception includes ward fees, theatre fees, medicines and other hospital expenses.
            </span>
            <hr/>
            <span>
                Please make sure you have read through your policy schedule/s Terms and Conditions thoroughly once your policy/s has been accepted.
            </span>
            <hr/>
            <span>
                Gap Cover applies to In-Hospital accounts and must not be confused with the Threshold Gap that applies for Out-Of-Hospital claims.
            </span>
            <hr/>
        </div>
        <b style='font-size: 18px'>SECTION G:</b>
        <br/>
        <b style='font-size: 18px; color: #14848A;'>FINANCIAL ADVISER'S DECLARATION</b>
        <hr/>
        <div class="row div">
            <div class="column6">
                <span>You have elected not to accept the following product recommendations:</span>
            </div>
            <div class="column5">
                <span>{{ GP.GP_FinanAdvisor_ProdRecomm }}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <span>For the following reasons</span>
            </div>
            <div class="column5">
                <span>{{ GP.GP_FinanAdvisor_Reasons }}</span>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <span>The consequences thereof have been clearly explained to you.</span>
            </div>
            <div class="column5">
                <div class='row div'>
                    <div class="column4">
                        {% if GP.GP_FinanAdvisor_Consequences == 1 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label >
                            Yes
                        </label>
                    </div>
                    <div class="column4">
                        {% if GP.GP_FinanAdvisor_Consequences == 0 %}
                            <input checked type="radio" />
                        {% else %}
                            <input type="radio" />
                        {% endif %}
                    </div>
                    <div class="column2">
                        <label>
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row div">
            <div class="column6">
                <span>Fee and/or commission</span>
            </div>
            <div class="column5">
                <span>{{ GP.GP_FinanAdvisor_FeeCommission }}</span>
            </div>
        </div>
        <hr/>
        {% if GP.GP_FinanAdvisor_OtherComments %}
            <div class="row div">
                <div class="column12">
                    <span>{{ GP.GP_FinanAdvisor_OtherComments }}</span>
                </div>
            </div>
            <hr/>
        {% endif %}
        <div class="row div">
            <div class="column6">
                <br/>
                <br/>
                <br/>
                <span>Sign Here</span>
            </div>
            <div class="column5">
                <div class="row div">
                    <br/>
                    <br/>
                    <br/>
                    <div class="column2">
                        <span>Date:</span>
                    </div>
                    <div class="column2">
                        {{GP.GP_FinanAdvisor_Date}}
                    </div>
                </div>
            </div>
        </div>
        <br/>
        
        
    </div>

    
</div>