.p_class{
    padding-bottom: 0.5%;text-align: justify;
}
.section_class {
    font-family: 'Arial Narrow';font-size: 15;
}
.hidden_class {
    background-color: #bbbbbb;padding: 1%;border-radius: 15px
}
.section_class1 {
    font-family: 'Arial Narrow';font-size: 15;color: #00788A;
}
.section_class2 {
    font-family: 'Arial Narrow';font-size: 15;
}

.h2_1 {
  color: #00788a; font-family: 'Arial'
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .tox-notification { display: none !important }
